
//PALLETTE

$primary : #1a1a1a;
$secondary : #8739f9;
$accent : #c651cd;

// TEXT COLOR:

$color-primary: #FFFF;
$color-secondary: #1a1a1a;
$color-accent: #c651cd;

//FONTS

$font-primary: 'Unbounded', cursive;
$font-secondary: 'IBM Plex Mono', monospace;
